* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background: #000;
  color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
  min-height: 200vh;
}
.navbar {
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
  border-bottom: 1px solid blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .nav-logo {
  font-family: "poppins", sans-serif;
  font-style: italic;
  font: 400;
}
.navbar .nav-menu {
  font-family: "poppins", sans-serif;
  font: 100;
  display: flex;
  gap: 5rem;
}
.navbar .nav-menu a {
  text-decoration: none;
  color: #fff;
  border-bottom: none;
  font-size: 1.2rem;
}
.navbar .nav-menu a:hover {
  color: #1744c2;
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
#hamburger-menu{
  display: none;
}

/* Home */
.home {
  padding: 0;
  margin: 0;
  background-image: url('../img/background/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  position: relative; 
  overflow: hidden;
}
.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}
.home-fill{
  margin-left: 7%;
  margin-top: 5rem;
}
.home-fill-text{
  max-width: 55rem;
}
.home-fill .home-fill-text h1{
  font: bold;
  font-style: italic;
  font-size: 3rem;
}
.home-fill .home-fill-text h1 span{
  color: #1744c2;
}
.home-fill .home-fill-text p{
  font: 300;
  font-style: normal;
  font-size: 1.5rem;
}


/* Media Queris */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .nav-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .nav-menu .active {
    right: 0;
  }
  .navbar .nav-menu a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .nav-menu a::after {
    transform-origin: 0 0;
  }
  .navbar .nav-menu a:hover:after {
    transform: scaleX(0.2);
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .home{
    padding: 0 1%;
  }
}
